SECRET_KEY='string'
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, 0.0.0.0, web, localhost
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
DB_HOST=db_host
DB_PORT=5432
HOST=IP_host

# настройки рассылки email
EMAIL_HOST=smtp_server
EMAIL_PORT=port_smtp_server
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=app_email
EMAIL_HOST_PASSWORD=password_app_email
DEFAULT_FROM_EMAIL=django_settings_DEFAULT_FROM_EMAIL
