argcomplete==3.1.6
asgiref==3.7.2
cfgv==3.4.0
charset-normalizer==3.3.2
colorama==0.4.6
commitizen==3.12.0
decli==0.6.1
distlib==0.3.7
Django==4.2.7
django-filter==23.3
djangorestframework==3.14.0
filelock==3.13.1
flake8==6.1.0
flake8-broken-line==1.0.0
flake8-isort==6.1.1
flake8-plugin-utils==1.3.3
flake8-return==1.2.0
identify==2.5.31
importlib-metadata==6.8.0
isort==5.12.0
Jinja2==3.1.2
MarkupSafe==2.1.3
mccabe==0.7.0
nodeenv==1.8.0
packaging==23.2
pep8-naming==0.13.3
Pillow==10.1.0
platformdirs==3.11.0
pre-commit==3.5.0
prompt-toolkit==3.0.36
pycodestyle==2.11.1
pyflakes==3.1.0
pytz==2023.3.post1
PyYAML==6.0.1
questionary==2.0.1
sqlparse==0.4.4
termcolor==2.3.0
tomlkit==0.12.3
typing_extensions==4.8.0
tzdata==2023.3
virtualenv==20.24.6
wcwidth==0.2.10
zipp==3.17.0
